
/* Ajuste para telas menores que 768px (tablets e dispositivos móveis) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .quemsoueu {
        flex-direction: column; /* Alinha a imagem e o texto verticalmente */
        text-align: center; /* Centraliza o texto */
    }

    .quemsoueu img {
        max-width: 100%; /* Ajusta a imagem ao tamanho do contêiner */
        margin-bottom: 20px;
    }

    .quemsoueu p {
        font-size: 24px; /* Reduz o tamanho do texto */
    }

    .formacao {
        font-size: 16px; /* Ajusta o tamanho do texto */
    }

    .portfolio-container {
        flex-direction: column; /* Alinha os itens verticalmente */
        margin: 20px;
    }

    .projetos-container {
        max-width: 100%; /* Ajusta o tamanho ao contêiner pai */
        flex-direction: column; /* Alinha a imagem e detalhes verticalmente */
    }

    .projetos-imagem {
        max-width: 100%; /* Ajusta a imagem ao tamanho do contêiner */
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* Ajuste para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    body {
        font-size: 16px; /* Ajusta o tamanho da fonte */
    }

    h2 {
        font-size: 36px; /* Reduz o tamanho do cabeçalho */
    }

    .nav {
        flex-direction: column; /* Alinha os itens da navegação verticalmente */
        font-size: 18px; /* Ajusta o tamanho da fonte da navegação */
        gap: 15px;
    }

    .nav > li > a::before {
        height: 2px; /* Ajusta a altura da linha de destaque */
    }

    form {
        padding: 30px; /* Ajusta o preenchimento do formulário */
    }

    form input, form textarea {
        font-size: 16px; /* Ajusta o tamanho da fonte dos campos do formulário */
    }

    form button {
        font-size: 16px; /* Ajusta o tamanho da fonte do botão */
    }
}

.quemsoueu img, .projetos-imagem {
    width: 100%; /* Faz com que a imagem se ajuste ao tamanho do contêiner */
    height: auto;
}

/* Define o estilo básico para todo o site */

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    color: #ffffff; /* Cor do texto em branco */
    background-color: #12161f; /* Cor de fundo preta */

}

h2 {
    text-align: center;
    color: #ffffff; /* Cor do texto do cabeçalho */
    font-size: 45px;
}

  
ul {
    list-style: none;
}
  
nav {
    color: #ffffff; 
    background-color: #1a2027;
    border-radius: 10px; 
    margin: 10px auto;
    width: fit-content; 
    padding: 10px 20px;
    opacity: 60%;
    transition-duration: 0.7s;
}
  
  
.nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
    font-size: 25px;
    font-weight: bold; 
    gap: 30px;

}


.nav > li:hover > a {
    color: #3e95ff;
    text-decoration: none;
}

  
.nav > li:hover > a::before {
        visibility: visible;
        scale: 1 1;

}
  

.nav > li a {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    text-decoration: none;
    position: relative;
    height: 100%;
}
  
.nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background-color: #3e95ff;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
    
}



/* Estilo do nav de navegação */
/* nav {
    background-color: #003366; 
    padding: 20px;
    text-align: center;
    transition-duration: 0.7s;
    border-bottom: 3px solid rgb(255, 255, 255);
}

nav a {
    color: #fff; 
    margin: 0 15px;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold; 
    } */

/* ------------------------------------------------------------------- */

/* Estilo da página "Quem sou eu?" */

.quemsoueu {
    padding: 15px;
    margin: 5%;
}

.quemsoueu {
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinha itens verticalmente ao centro */
    gap: 20px; /* Espaçamento entre a imagem e o texto */
}

.quemsoueu img {
    border-radius: 50%; /* Deixa a imagem circular */
    max-width: 400px; /* Define um tamanho máximo para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.quemsoueu p {
    max-width: auto; /* Define uma largura máxima para o texto */
    text-align: left; /* Ajusta o texto a esquerda da imagem */
    font-size: 40px; /* Ajusta o tamanho do texto */
    font-weight: bold; /* Fonte em negrito */
}
/* ------------------------------------------------------------------------------- */
/* Estilo da página "Formação" */
.formacao {
    max-width: auto; /* Define uma largura máxima para o texto */
    text-align: center; /* Ajusta o texto a esquerda da imagem */
    font-size: 20px; /* Ajusta o tamanho do texto */

}

/* Estilo da lista */
ul{
    text-align: center; /* Ajusta o texto a esquerda da imagem */ 
    margin-bottom: 10px; /* Espaço entre itens da lista */
    background-color: #1a2027;
    border-radius: 3px; 
    margin: 10px auto;
    width: fit-content; 
    padding: 10px 20px;

}

ul li a {
    color: rgb(42, 104, 240); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    
}

ul li a:hover {
    color: rgb(42, 104, 240); /* Cor do link ao passar o mouse */
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}



/* Estilo para o formulário de contato */
form {
    margin: 5%;
    align-items: center;
    background-color: #1a2027; /* Azul escuro */
    padding: 50px;
    border-radius: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #ffffff; /* Azul mais claro */
    color: #12161f; /* Cor do texto do botão */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Fonte em negrito */
}

form button:hover {
    background-color: #12161f; /* Azul ainda mais escuro no hover */
    color: #ffffff;
}

/* ------------------------------------------------------------------------------- */

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 12000px; 
    margin: 50px;
}

.projetos-container {
    background-color: #1a2027;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 20px;
    max-width: 70%;
    padding: 15px;


}


.projetos-imagem {
    border-radius: 8px;
    max-width: 400px;
    margin-right: 20px;
}

.projetos-detalhes {
    flex-grow: 1;
}

.projetos-detalhes h2 {
    margin-top: 0;
}

.projetos-detalhes p {
    margin: 10px 0;
}


.tech-logos {
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    align-items: center; /* Alinha os itens verticalmente no centro */
}

.tech-logos img {
    height: 30px;
    margin-right: 10px;

}

.projeto-links {
    margin-top: 20px;
    text-align: center;
}

.projeto-links a {
    background-color: #ffffff; 
    color: #12161f;
    border-radius: 3px;
    margin-right: 10px;
    padding: 5px 12px;
    text-decoration: none;
}

.projeto-links a:hover {
    background-color: #12161f; 
    color: #ffffff;
}